body {
	background-color: black;
	color: white;
	font-family: "source-code-pro", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	margin: 0 2% 0 2%;
}

header {
	color: white;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	font-size: 5.5em;
	width: max-content;
	text-align: center;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	background-color: rgb(16,16,16);
}


h1 {
	color: white;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	font-size: 3em;
	text-decoration: underline;
	margin-left: 3%;
}

h2 {
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

#desc ul {
	margin: 0;
	padding: 0;
}

#desc {
	text-align: left;
}

#story {
	text-align: left;
}

span {
	background-color: white;
	color: white;
}

div#wrapper {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 3%;
}


#image img {
	border: 4px solid white;
	max-width: 400px;
	height: auto;
	
}

div#image {
	text-align: center;
}


#return {
	font-size: 2em;
	margin-top: 60px;
}

#portraits {
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 8%;
}

#portraits li {
  	display: flex;             
  	flex-direction: column;    
  	align-items: center;        
	text-align: center;
}

#portraits p {
	margin-top: 8px;
	font-size: 1.5em;
	color: white;
}

#portraits img {
	border: 4px solid white;
	transition: width 1s, height 1s;
	transition: transform 1s cubic-bezier(.32,.95,.48,.99);
	max-width: 250px;
	height: auto;
}

#world {
	border: 4px solid white;
	color: white;
	font-size: 2.5em;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-align: center;
	margin: 5% 25%;
	padding: 10%;
	background-color: rgb(25,25,25);
	transition: width 1s, height 1s;
	transition: transform 1s cubic-bezier(.32,.95,.48,.99);
	height: auto;
}

#world:hover {
	transform: scale(1.08);
}

#portraits img:hover {
	transform: scale(1.08);
}

a {
	color: white;     
	text-decoration: none;
	font-style: italic 
}

a:visited {
	color: white; 
}

a:hover {
	color: white; 
	text-decoration: underline;
	 
}

a:active {
	color: white;
}

footer {
	
	color: white;
	font-family: "source-code-pro", monospace;
	font-weight: 300;
	font-style: normal;
	padding: 1px;
	background-color: rgb(25,25,25);
	margin-top: 5%;
	flex-shrink: 0;
}
