body {
	background-color: black;
	color: white;
	font-family: "source-code-pro", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	margin: 0 2% 0 2%;
}

header {
	color: white;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	font-size: 50px;
	width: max-content;
	text-align: center;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	background-color: rgb(9,9,9);
}


h1 {
	color: white;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
}

ul {
	list-style-type: none;
}

#portraits {
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	grid-gap: 8%;
}

#portraits li {
  	display: flex;             
  	flex-direction: column;    
  	align-items: center;        
  	text-align: center;
}

#portraits p {
	margin-top: 8px;
	font-size: 1.5em;
	color: white;
}

#world {
	border: 4px solid white;
	color: white;
	font-size: 2em;
	font-family: "dico-typewriter", mono;
	font-weight: 400;
	font-style: normal;
	text-decoration: underline;
	text-align: center;
	margin: 5% 25%;
	padding: 10%;
	background-color: rgb(25,25,25);
	transition: width 1s, height 1s;
	transition: transform 1s cubic-bezier(.32,.95,.48,.99);
	height: auto;
}

#world:hover {
	transform: scale(1.08);
}

img {
	border: 4px solid white;
	transition: width 1s, height 1s;
	transition: transform 1s cubic-bezier(.32,.95,.48,.99);
	max-width: 250px;
	height: auto;
}

a {
	color: white;     
	text-decoration: none; 
}

a:visited {
	color: white; 
}

a:hover {
	color: white; 
	text-decoration: underline; 
}

a:hover img {
	transform: scale(1.08);
}

a:active {
	color: white;
}

footer {
	
	color: white;
	font-family: "source-code-pro", monospace;
	font-weight: 300;
	font-style: normal;
	padding: 1px;
	background-color: rgb(25,25,25);
	margin-top: 20%;
	flex-shrink: 0;
}

